@import '/src/styles/variables.scss';

.userInfo {
    display: flex;
    flex-direction: column;
    &__card {
        &_left {
            max-width: 18rem;
            margin-right: 20px;
        }
        &_right {
            min-width: 80%
        }
    }
    &__top{
        width: 100%;
        display: flex;
    }
    &__btn {
        margin: 20px 0;
        align-self: flex-end;
    }
}

@media screen and (max-width: 990px) {
    .userInfo {
        &__card {
            &_left {
                max-width: 42%;
            }
            &_right {
                min-width: 68%
            }
            }
    }
}
@media screen and (max-width: 570px) {
    .userInfo {
        flex-direction: column;
        
        &__top{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &__card {
            
            &_left {
                min-width: 100%;
            }
            &_right {
                min-width: 100%
            }
        }
        &__btn {
            align-self: auto;
        }
    }
}