@import './fonts.scss'; //Шрифты
@import './nullstyle.scss'; // Нормализация

body {
    font-family: iviSans, sans-serif;
    font-weight: normal;
    font-style: normal;
}
.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 42px;
    padding-right: 42px;
}

