$backgroundColor: lightgray;
$headingColor: #fff;
$textColor: #b0afb1;
$activeColor: #fff;

%standartText {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: $textColor;
};

@mixin hover-colorAnim ($hoverColor, $defaultColor){
    transition-property: color;
    &:hover {
        cursor: pointer;
        color: $hoverColor;
        transition-duration: 0.4s;
    }
    &:not(:hover):not(:active) {
        color: $defaultColor;
        transition-duration: 0.4s;
    }
};
