.userWaiter {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}
.userPage{
    &__postListBlock{
        display: none;
        &_active {
            display: block;
        }
    }
    &__heading {
        margin-bottom: 40px;
        text-align: center;
    }
}