@import '/src/styles/variables.scss';

.post {
    &__btn{
        background-color: lightblue;
    }
    &__commentsBlock{
        display: none;
        &_active{
            display: block;
        }
    }
}